* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #8496a1;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

canvas {
    background-color: #fff;
}